//Home banner
.home-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 448px;
  overflow: hidden;
  margin-bottom: 17px;
  border-radius: 10px;
  background: linear-gradient(360deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 56.47%);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;

    @media (max-width: 768px) {
      border-radius: 8px;
    }
  }

  @media (max-width: 768px) {
    height: 234px;
    border-radius: 8px;
  }
}

.banner-lg {
  position: relative;
  width: 100%;
  height: 448px;
  margin-bottom: 17px;
  background: var(--card-bg);

  .banner-lg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

    @media (max-width: 768px) {
      border-radius: 8px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80px;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 1px 1px #e6e6e6;
    border-radius: 10px;
    left: 32px;
    bottom: 77px;
    padding: 7px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    @media (max-width: 768px) {
      width: 60px;
      height: 60px;
      padding: 10px;
      bottom: 12px;
      left: 12px;

      img {
        width: 100%;
      }
    }
  }

  .banner-lg-footer {
    position: absolute;
    left: 32px;
    bottom: 35px;
    display: flex;
    align-items: center;
    gap: 60px;
    color: #fff;

    .reaction {
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;

      span {
        width: max-content;
        font-weight: 500;
        font-size: 14px;
        line-height: 116.3%;

        @media (max-width: 280px) {
          display: none;
        }

        @media (min-width: 280px) and (max-width: 360px) {
          display: inline-block;
          width: 55px;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }
      }
    }

    .store-name {
      font-weight: 500;
      font-size: 28px;
      line-height: 16px;
    }

    @media (max-width: 768px) {
      width: 100%;
      justify-content: space-between;
      position: absolute;
      top: calc(100% + 25px);
      gap: 5px;
      color: var(--black);
      left: 0;

      .reaction {
        gap: 4px;
        font-weight: 500;
        font-size: 10px;
        line-height: 116.3%;
        letter-spacing: -0.01em;
        text-decoration-line: underline;
      }

      .store-name {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 234px;
    border-radius: 8px;
    margin-bottom: 50px;
  }
}

.sm-banner-wrapper {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 17px;
  overflow: hidden;

  .banner-sm {
    position: relative;
    height: 236px;
    width: 100%;
    border-radius: 10px;
    background: var(--card-bg);

    .category {
      width: max-content;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 300;
      font-size: 20px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.37em;

      color: #ffffff;

      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.21em;
      }

      @media (min-width: 768px) and (max-width: 1300px) {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.21em;
      }
    }

    .read-more {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 23px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 0.2em;

      color: #ffffff;
      cursor: pointer;

      @media (max-width: 768px) {
        font-size: 11px;
        line-height: 13px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    @media (max-width: 768px) {
      width: 286px;
      height: 160px;
      gap: 9px;
      border-radius: 8px;

      img {
        width: 286px;
        height: 160px;
      }
    }

    // @media (min-width: 768px) and (max-width: 1350px) {
    //     height: 100%;
    // }
  }

  @media (max-width: 768px) {
    gap: 9px;
  }
}


//mega sale

.mega-sale {
  position: relative;
  margin-bottom: 14px;
  width: 100%;
  height: 199.76px;

  .title {
    position: absolute;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #000;
    top: 29px;
    left: 27px;
  }

  .go-to-sale {
    position: absolute;
    bottom: 25px;
    left: 27px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 30px;
    width: max-content;
    white-space: nowrap;
    height: 42px;
    background: #61DC00;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.mega-sale-mobile {
  position: relative;
  width: 100%;
  height: 363px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 17px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
  }

  .content {
    position: absolute;
    bottom: 20px;
    left: 12px;


    .title {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.02em;
      color: #000;
    }

    .go-to-sale {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 10px 30px;
      width: max-content;
      white-space: nowrap;
      height: 42px;
      background: #61DC00;
      border-radius: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.01em;
      color: #FFFFFF;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

//service banner
.service-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 17px;

  .service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc((100% - 60px) / 3);
    height: 462px;
    background: var(--secondary-bg);
    border-radius: 10px;
    gap: 27px;


    img {
      width: 100%;
      height: 100%;
    }

    .service-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.02em;
        color: var(--black);
        margin-bottom: 14px;

        @media (max-width: 768px) {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 2px;
        }
      }

      .description {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        letter-spacing: -0.02em;
        color: var(--secondary-text);
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;

        @media (max-width: 768px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    &.delivery {
      padding: 45px 59px 46px 59px;

      @media (max-width: 768px) {
        padding: 20px;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        padding: 20px;
        gap: 0;

        img {
          height: 260px;
        }
      }
    }

    &.cashback {
      padding: 58px 23px 46px 59px;

      .service-content {
        padding-right: 36px;
      }

      @media (max-width: 768px) {
        padding: 20px;

        .service-content {
          padding-right: 0;
        }
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        padding: 20px;
        gap: 0;

        img {
          height: 260px;
        }

        .service-content {
          padding-right: 0;
        }
      }
    }

    &.become {
      padding: 29px 59px 46px 59px;

      @media (max-width: 768px) {
        padding: 20px;
      }

      img {
        width: 260px;
        height: 260px;

        @media (max-width: 768px) {
          width: 220px;
          height: 220px;
        }
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        padding: 20px;
        gap: 0;

        img {
          height: 260px;
        }

        .service-content {
          padding-right: 0;
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      height: 343px;
      gap: 20px;
    }

    @media (min-width: 768px) and (max-width: 912px) {
      width: calc((100% - 30px) / 2);
    }
  }

}

.look-banner {
  width: 100%;
  height: 100%;
  position: relative;

  .banner-content {
    position: absolute;
    left: 10px;
    bottom: 10px;

    .title {
      font-weight: 600;
      font-size: 30px;
      line-height: 30px;
      letter-spacing: -0.02em;
      color: #fff;
      margin-bottom: 12px;
    }

    .description {
      width: 213px;
      padding-right: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: #fff;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
}

.be-seller-banner {
  width: 100%;
  height: 100%;
  max-height: 500px;
  display: flex;
  align-items: flex-start;
  gap: 18px;
  margin-bottom: 17px;

  .banner-img {
    width: calc((100% - 17px) / 2);
    height: 100%;
    max-height: 500px;
    border-radius: 10px;
    overflow: hidden;

    &:first-child {
      position: relative;
      background: linear-gradient(0deg, #603994, #603994);

      .text-content {
        position: absolute;
        z-index: 3;
        left: 40px;
        bottom: 40px;

        .title {
          width: 392px;
          font-weight: 600;
          font-size: 50px;
          line-height: 60px;
          letter-spacing: -0.03em;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-bottom: 17px;

          @media (max-width: 768px) {
            font-weight: 500;
            font-size: 26px;
            line-height: 34px;
          }
        }

        .short-description {
          width: 332px;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          margin-bottom: 27px;

          @media (max-width: 768px) {
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
          }
        }

        .be-seller-link {
          padding: 14px 50px;
          width: 206px;
          height: 50px;
          border-radius: 10px;
          background: #FFFFFF;
          white-space: nowrap;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.01em;
          color: #603994;
          cursor: pointer;

          @media (max-width: 768px) {
            width: 206px;
            height: 50px;
          }
        }

        @media (max-width: 768px) {
          left: 15px;
          bottom: 20px;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: 376px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    max-height: 100%;
  }
}