.be-seller {
    width: 100%;
    height: 100%;

    .seller-form-box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 47px;

        .form-box-item {
            width: calc((100% - 94px) / 3);

            .item {
                margin-bottom: 60px;

                .title {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 18px;
                    letter-spacing: -0.03em;
                    color: var(--black);

                    @media (max-width: 768px) {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                        margin-bottom: 16px;
                    }
                }

                .upload-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 17px;

                    .logo-upload,
                    .background-upload {
                        width: calc(100% / 2);

                        .img-wrapper {
                            width: 100%;
                        }

                        .upload {
                            width: 100%;

                            svg {
                                color: var(--black);
                            }
                        }
                    }

                    .img-wrapper {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 175px;
                        height: 140px;
                        border: 1px dashed #D2D2D2;
                        border-radius: 10px;
                        cursor: pointer;

                        @media (max-width: 768px) {
                            width: calc((100% - 9px) / 2);
                            height: 130px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }

                        &:hover {
                            .remove-img {
                                visibility: visible;
                                opacity: 1;
                            }
                        }

                        .remove-img {
                            visibility: hidden;
                            opacity: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: 0;
                            left: 0;
                            position: absolute;
                            border-radius: 10px;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            transition: all ease-in-out 300ms;
                            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
                        }
                    }

                    .upload {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 175px;
                        height: 140px;
                        border: 1px dashed #D2D2D2;
                        border-radius: 10px;
                        cursor: pointer;

                        span {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            letter-spacing: -0.01em;
                            text-decoration-line: underline;
                            color: var(--black);
                        }

                    }

                    @media (max-width: 768px) {
                        gap: 9px;

                        .upload {
                            width: calc((100% - 9px) / 2);
                            height: 130px;
                        }

                    }
                }

                .form-item {
                    width: 100%;
                }

                .method-item {
                    width: 100%;
                    cursor: pointer;
                }

                .map-wrapper {
                    padding: 0;
                    height: 518px !important;
                    margin-bottom: 40px;

                    .map {
                        width: 100% !important;

                    }

                    @media (max-width: 768px) {
                        width: 100%;
                        height: 480px !important;

                        .map {
                            width: 480px !important;
                        }
                    }
                }

                @media (max-width: 768px) {
                    margin-bottom: 40px;
                    width: 100%;
                }

            }

            @media (max-width: 768px) {
                width: 100%;
            }

            @media (min-width: 768px) and (max-width:1024px) {
                width: calc((100% - 47px) / 2);

                &:last-child {
                    width: 100%;
                }
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}