.swiperBrands {
  width: 100%;
  margin: 0px 0 10px 0;
  background: #fff;
  border-radius: 10px;

  a {
    text-decoration: none;
    color: black;
  }

  .skeletonBrandList {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    img {
      border-radius: 50%;
      object-fit: cover;
    }
    .skeletonBrand {
      border-radius: 20%;
      width: 80px;
      height: 80px;
      background: gray;
    }
  }

  .swiper-button-prev {
    width: 40px;
    height: 20px;
    color: black;
    right: auto;
    left: -10px;
    &:after {
      font-size: 20px;
    }
  }
  .swiper-button-next {
    width: 40px;
    height: 20px;
    color: black;
    left: auto;
    right: -10px;
    font-size: 2px;
    &:after {
      font-size: 20px;
    }
  }
}

#row {
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  /* column-gap: 10px; */
  margin-bottom: 10px;

  /* @media (max-width: 1200px) {
    justify-content: space-start;
  } */

  .ant-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /*   @media (min-width: 1201px) {
      width: 33.3%;
    } */

    /*   @media (max-width: 1200px) {
      background-color: red;
    } */

    .mainBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 98%;
      background-color: #fff;
      border-radius: 10px;
      /*   height: 250px; */

      .shopInner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 16px;
      }

      .shopBanner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        .shopImage {
          width: 100%;
          height: 250px;
          object-fit: cover;
        }
      }

      .rightPart {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 200px;
        .rightPartImage {
          border-radius: 50%;
          height: 100%;
          object-fit: cover;
        }
      }

      .titleUnder {
        width: 100%;
        padding: 10px;
        border-top: 1px solid gray;
      }

      // .titleUnder {
      //   width: 100%;
      //   padding: 10px;
      //   border-top: 1px solid gray;
      //   display: flex;
      //   align-items: center;
      // }
    }
  }
}

.threeMainStores {
  /* width: 33.3% !important;
  max-width: 33.3%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center; */
  display: flex;
  width: 100%;
  justify-content: flex-start;
  row-gap: 20px;
  column-gap: 5px;
}