.swiperBrands {
  width: 100%;
  margin: 0px 0 10px 0;
  color: var(--black);
  background: var(--secondary-bg) !important;
  border-radius: 10px;

  a {
    text-decoration: none;
    color: var(--black);
  }

  .skeletonBrandList {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-align: center;
    padding: 10px 0;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      img {
        border-radius: 50%;
        object-fit: cover;

        @media (max-width: 876px) {
          width: 50px;
          height: 50px;
        }
      }
      p {
        font-size: 14px;
        @media (max-width: 900px) {
          font-size: 8px;
        }
        @media (max-width: 576px) {
          font-size: 6px;
        }
      }
    }

    .skeletonBrand {
      border-radius: 20%;
      width: 80px;
      height: 80px;
      background: gray;
    }
  }

  .swiper-button-prev {
    width: 40px;
    height: 20px;
    color: black;
    right: auto;
    top: 50px;
    left: -10px;
    &:after {
      font-size: 20px;
    }
  }
  .swiper-button-next {
    width: 40px;
    height: 20px;
    color: black;
    left: auto;
    right: -10px;
    top: 50px;
    font-size: 2px;
    &:after {
      font-size: 20px;
    }
  }
}

#row {
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  margin-bottom: 10px;

  .ant-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .mainBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 98%;
      background-color: var(--secondary-bg);
      border-radius: 10px;
      /*   height: 250px; */

      .shopInner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background-color: var(--secondary-bg);
        color: var(--black);
        .remixicon-icon {
          color: var(--black);
        }
      }

      .shopBanner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: var(--secondary-bg);

        .shopImage {
          width: 100%;
          height: 250px;
          object-fit: contain;
          background-color: var(--secondary-bg);
        }
      }

      .rightPart {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 200px;

        .rightPartImage {
          border-radius: 50%;
          height: 100%;
          object-fit: cover;
        }
      }

      .titleUnder {
        width: 100%;
        padding: 10px;
        border-top: 1px solid gray;
        color: var(--black);
        background-color: var(--secondary-bg);
      }
    }
  }
}

.threeMainStores {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  row-gap: 20px;
  column-gap: 5px;
}
