.footer {
  color: #fff !important;
  background-color: #000 !important;
  display: flex;
  flex-direction: column;

  .mainUpFooter {
    color: #fff !important;
    background-color: #000 !important;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 40px;

    @media (max-width: 1200px) {
      font-size: 1rem;
      h1 {
        font-size: 1.5rem;
      }
    }

    .upFooter {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;

      .upFooterItem {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 20px 20px 20px 0;
      }
    }
  }
  .allUnderFooter {
    color: #fff !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
    background-color: black !important;
    .upperFooter {
      width: 100%;
      // height: 300px;
      padding: 40px 40px 40px 40px;
      .ant-collapse {
        background-color: #000000 !important;
        width: 100%;
        color: #fff !important;
        .ant-collapse-item {
          background-color: #000 !important;
          color: #fff !important;
          .ant-collapse-header {
            background-color: #000 !important;
            color: #fff !important;
          }
          .ant-collapse-content,
          .ant-collapse-content-active,
          .ant-collapse-content-inactive,
          .ant-collapse-content-hidden {
            color: #fff !important;
            background-color: #000 !important;
            .ant-collapse-content-box {
              background-color: #000 !important;
              p {
                background-color: #000 !important;
              }
            }
          }
        }
      }

      .footerCols {
        color: #fff !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }

      .title {
        color: #fff !important;
        font-family: "Petrona";
        letter-spacing: -0.03em;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 16px;
        margin-bottom: 2rem;
      }

      .address {
        cursor: default;
      }

      ul {
        color: #fff !important;
        display: flex;
        flex-direction: column;

        li {
          color: #fff !important;
          padding: 5px 5px;
          font-family: "Petrona";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;

          @media (max-width: 576px) {
            font-size: 14px;
          }

          a {
            color: #fff !important;
          }
        }

        @media (max-width: 576px) {
          padding-left: 0;
        }
      }

      @media (max-width: 576px) {
        width: 100%;
      }

      @media (max-width: 576px) {
        width: 100%;
        flex-direction: column;
        gap: 0;
      }

      .accordion {
        width: 100%;
        height: 53px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #efefef;
        margin-bottom: 0;

        .accordion-summary {
          color: #fff !important;
          padding: 0;
          height: 53px;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;

          svg {
            height: 20px;
            width: 20px;
          }
        }

        .accordion-details {
          a {
            color: #fff !important;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.01em;
          }
        }
      }
    }

    .footerDown {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 160px;
      padding: 1rem 3rem 3 rem 2rem;
      .secOne {
        width: 40%;
        display: flex;
        justify-content: center;
        gap: 10px;

        .store {
          width: 120px;
          display: flex;
          gap: 10px;
          justify-content: center;
          height: 40px;
          align-items: center;
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 8px;
          cursor: pointer;

          .hrefPlayMarketAppStore {
            color: #000;
            font-style: normal;
            font-weight: 400;
            font-size: 0.4rem;
            line-height: 17px;
          }

          @media (max-width: 550px) {
            width: 12rem;
          }

          @media (max-width: 330px) {
            width: 10rem;
          }

          p {
            color: #000;
            font-style: normal;
            font-weight: 400;
            font-size: 0.4rem;
            line-height: 17px;
          }
        }
      }
      .secTwo {
        width: 60%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        min-height: 180px;
        margin-bottom: 4rem;
        margin-right: 3rem;
      }
    }
  }
}
