.navbar {
  max-width: 100%;
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;

  /*  justify-content: space-between; */

  .left {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 90%;
    gap: 10px;
    padding: 0 10px;
    .logo {
      font-weight: 700;
      font-size: 40px;
      line-height: 17px;
      color: var(--black);
      padding-right: 10px;
      @media (max-width: 1200px) {
        font-size: 30px;
      }

      @media (max-width: 768px) {
        font-size: 20px;
      }
      @media (max-width: 576px) {
        width: 100%;
        font-size: 18px !important;
        padding: 0 6px !important;
      }
    }

    .filter-wrapper {
      width: 100%;
      position: relative;
      display: flex;
      gap: 5px;
      align-items: center;
      transition: all 300ms ease-out;
      &.search-visible {
        button {
          display: none;
        }

        .search-result-wrapper {
          visibility: visible;
          opacity: 1;
          top: calc(100% + 8px);
        }

        .search-filter {
          z-index: 3;

          input {
            display: block !important;
          }
        }

        .current-store {
          display: none;
        }

        .filter-links {
          display: none;
        }

        @media (max-width: 768px) {
          .btn-view {
            display: none;
            gap: 0px;
          }
        }
      }

      &.filter-visible {
        .filter-content {
          visibility: visible;
          opacity: 1;
          top: calc(100% + 8px);
        }

        .search-filter {
          z-index: 3;
        }

        @media (max-width: 768px) {
          .btn-view {
            display: none;
          }
        }
      }

      .search-input-wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 16px;
        width: 100%;
        @media (max-width: 1200px) {
          width: calc(100% - 150px);
        }

        @media (max-width: 995px) {
          width: 70%;
        }

        @media (max-width: 970px) {
          width: 100%;
        }
        @media (max-width: 768px) {
          width: calc(100%);
          gap: 2px;
          height: max-content;
        }
        @media (max-width: 576px) {
          width: 74%;
        }

        @media (max-width: 470px) {
          width: 60%;
          height: 40px;
        }
      }

      .btn-view {
        gap: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--secondary-bg);
        padding: 20px 19px;
        border-radius: 10px;
        cursor: pointer;
        width: max-content;

        svg {
          cursor: pointer;
          color: var(--black);
        }

        span {
          width: max-content;
          font-weight: 500;
          font-size: 15px;
          line-height: 16px;
          letter-spacing: -0.01em;
          color: var(--black);

          @media (max-width: 912px) {
            display: none;
          }
        }

        @media (max-width: 768px) {
          height: 54px;
          min-width: 54px;
          padding: 0;
          border-radius: 8px;
        }
      }

      .search-filter {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 50px;
        background: var(--secondary-bg);
        border-radius: 10px;
        padding-left: 15px;

        .search-result-count {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 25px;
          background: var(--black);
          border-radius: 10px;
          color: var(--white);
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: -0.02em;
        }

        svg {
          cursor: pointer;
          color: var(--black);
        }

        &.inner-store {
          @media (max-width: 768px) {
            input {
              display: none;
            }

            .filter-icon {
              display: none;
            }
          }
        }

        input {
          border: none;
          outline: none;
          font-weight: 500;
          width: 100%;
          font-size: 15px;
          line-height: 16px;
          color: var(--black);
          background: var(--secondary-bg);
          padding-left: 20px;

          &::placeholder {
            font-weight: 500;
            font-size: 15px;
            line-height: 16px;
            color: #bababa;

            @media (max-width: 768px) {
              font-size: 13px;
            }
          }

          @media (max-width: 768px) {
            font-size: 10px;
          }
        }

        @media (max-width: 768px) {
          width: 288px;
          height: 46px;
          border-radius: 8px;
        }
        @media (max-width: 576px) {
          height: 40px;
          font-size: 1rem;
        }
      }

      .select-address {
        height: 50px;
        display: flex;
        justify-content: center;
        gap: 5px;
        width: 40%;

        @media (max-width: 970px) {
          width: 60px;
          display: none !important;
          justify-content: center;
          text-align: center;
          svg {
            display: none;
          }
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      .filter-links {
        display: flex;
        align-items: center;
        gap: 20px;

        .btn {
          width: 248px;
          height: 60px;
          background: var(--secondary-bg);
          opacity: 0.8;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          cursor: pointer;

          @media (max-width: 768px) {
            width: calc((100% - 9px) / 2);
            height: 54px;
            overflow: hidden;

            .suffix {
              display: none;
            }

            span {
              white-space: nowrap;

              &:nth-child(3) {
                display: none;
              }
            }
          }
        }

        @media (max-width: 768px) {
          width: 100%;
          gap: 9px;
        }
      }
      @media (max-width: 1200px) {
        width: 80vh;
      }

      @media (max-width: 576px) {
        height: max-content;
        gap: 0;
      }
    }

    .burger-btn {
      cursor: pointer;

      span {
        display: block;
        width: 20px;
        height: 3px;
        background-color: var(--black);
        margin-bottom: 6px; /////////////
        border-radius: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    gap: 10px;

    .wallet {
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 8px 20px;
      gap: 14px;
      color: var(--black);

      .amount {
        display: flex;
        align-items: center;
        width: max-content;

        @media (min-width: 768px) and (max-width: 930px) {
          display: none;
        }
      }
    }

    .login-btn,
    .wallet,
    .cart-amount,
    .square {
      cursor: pointer;
      color: #000;
      display: flex;
      align-items: center;
      border-radius: 10px;
      gap: 10px;
      padding: 0;
      height: 100%;

      &:first-of-type {
        // padding: 0 10px;
      }
      &:last-of-type {
        padding-right: 0;
      }

      @media (max-width: 1200px) {
        gap: 2px;
      }
      @media (max-width: 768px) {
        gap: 0;
      }
      .remixicon-icon {
        gap: 0;
        width: 30px;
        height: 30px;
        color: #000;
        @media (max-width: 1200px) {
          padding: 0;
          width: 35px;
          height: 35px;
        }
        @media (max-width: 768px) {
          width: 35px;
          height: 35px;
        }
      }
      span {
        gap: 0;
        width: max-content;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;

        @media (max-width: 1200px) {
          padding: 0;
          font-size: 12px;
        }

        @media (max-width: 768px) {
          font-size: 10px;
        }

        @media (max-width: 576px) {
          display: none;
        }
      }
    }

    @media (max-width: 576px) {
      gap: 0 !important;
    }

    @media (max-width: 1186px) {
      justify-content: flex-start;
      gap: 20px;

      span {
        display: none;
      }

      .square {
        display: none !important;
      }
    }
  }

  @media (max-width: 768px) {
    gap: 10px;
    .left {
      width: 80%;
    }
    .right {
      width: 20%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    @media (max-width: 680px) {
      gap: 0 !important;
      .left {
        width: 84%;
      }
      .right {
        width: 15%;
      }
    }
  }

  @media (max-width: 978px) {
    gap: 0;
    .left {
      width: 90%;
    }
    .right {
      width: 10%;
    }
  }

  @media (max-width: 900px) {
    width: 100%;
    border-radius: 8px;
    height: 60px;
    .left {
      width: 84%;
      .burger-btn {
        padding-left: 6px;
      }
      .logo {
        font-size: 24px;
        padding: 0 16px;
      }
    }
  }

  @media (max-width: 768px) {
  }

  @media (max-width: 576px) {
    .left {
      width: 80%;
    }
  }

  @media (max-width: 470px) {
    .left {
      width: 80%;
    }
    .right {
      width: 20%;
      justify-content: flex-end;
    }
  }
}

.user {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
  }

  &:hover {
    .dropdown {
      visibility: visible;
      opacity: 1;
      top: 100%;
    }
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
    background: #61dc00;
  }

  .dropdown {
    overflow: hidden;
    visibility: hidden;
    display: block;
    position: absolute;
    right: 0;
    top: 110%;
    width: 224px;
    min-height: 216px;
    background: var(--secondary-bg);
    box-shadow: 0px 10px 50px var(--primary-box-shadow);
    border-radius: 15px;
    transition: all ease 0.3s;
    opacity: 0;
    z-index: 4;
    padding-top: 15px;

    .dropdown-items {
      display: block;

      .dropdown-item {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 12px 24px;
        gap: 16px;

        svg {
          color: var(--black);
        }

        .label {
          font-family: "Inter", sans-serif !important;
        }

        .label a {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: var(--black);
          text-decoration: none;
          font-family: "Inter", sans-serif !important;
        }

        .suffix {
          position: absolute;
          right: 24px;
          width: 38px;
          height: 24px;
          background: #83ea00;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
        }

        &:hover {
          background: var(--card-bg);
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 0 !important;
    margin: 0 !important;
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.sidebar {
  display: block;
  height: 100%;
  position: relative;

  .close-btn {
    position: absolute;
    top: 20px;
    left: 0px;
    display: block;
    width: 30px;
    height: 3px;
    background: var(--black);
    cursor: pointer;
  }

  .sider-links {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-top: 127px;

    .link {
      font-weight: 400;
      font-size: 40px;
      line-height: 116.3%;
      letter-spacing: -0.03em;
      text-decoration-line: underline;

      color: var(--black);
      display: inline-block;
      position: relative;
      width: max-content;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--black);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  .help {
    width: 100%;
    height: 60px;
    background: var(--card-bg);
    border-radius: 10px;
    position: sticky;
    top: 100%;
    bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 18px 20px;
    gap: 28px;
    color: var(--black);

    .suffix {
      position: absolute;
      right: 18px;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.EZDrawer__container {
  &.mobile-sidebar {
    max-width: max-content;
    background: var(--primary-bg) !important;
    overflow-y: auto;
  }
}

.navbar-mobile {
  display: none;
  padding-bottom: 20px;

  .navbar {
    width: 100%;
    padding: 15px 12px;
  }

  .nav-links {
    width: 100%;
    height: 100%;
    background: var(--secondary-bg);
    border-radius: 8px;
    margin-top: 15px;
    padding: 21px 12px;

    .link {
      position: relative;
      display: flex;
      align-items: center;
      gap: 14px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.03em;
      color: var(--black);
      padding: 17px 0 19px 0;
      /* border-bottom: 1px solid var(--link-border); */

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }

      .suffix {
        position: absolute;
        right: 0;
      }
    }
  }

  @media (max-width: 768px) {
    display: block;

    .navbar .right .wallet,
    .navbar .right .user {
      display: flex;
      border-radius: 8px;

      .amount {
        font-size: 13px;
        line-height: 16px;
      }
    }

    .mobile-select-address {
      width: 100%;
      height: 54px;
      background: var(--secondary-bg);
      border-radius: 8px;
      padding: 8px 12px;

      .select-address {
        background: #61dc00;
        display: flex;
        width: 321px;
        height: 38px;
        border-radius: 8px;
      }
    }
  }
}

.labelSelectAddress {
  display: flex !important;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: var(--black);

  @media (max-width: 970px) {
    font-size: 14px;
    line-height: 16px;
    gap: 0px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
