.settings {
  width: 100%;
  height: max-content;
  padding: 17px 15px;
}

.mobile-order-data {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  width: 100%;
  height: 54px;
  background: var(--secondary-bg);
  border-radius: 8px;
  padding: 19px 13px;
  margin-bottom: 15px;

  span {
    width: 8px;
    height: 8px;
    background: #898989;
    opacity: 0.3;
    border-radius: 50%;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background: var(--secondary-bg);
  border-radius: 10px;
  margin-bottom: 17px;

  .right {
    display: flex;
    align-items: center;
    gap: 30px;

    .order-data {
      display: flex;
      align-items: center;
      gap: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: var(--black);

      span {
        width: 8px;
        height: 8px;
        background: #898989;
        opacity: 0.3;
        border-radius: 50%;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .go-back {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      color: var(--black);
    }

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: var(--black);
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #61dc00;
    color: #fff;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  @media (max-width: 768px) {
    height: 54px;
    border-radius: 8px;
  }
}

.tabs {
  display: flex;
  align-items: center;
  gap: 60px;
  background: var(--secondary-bg);
  border-radius: 10px;
  padding: 0 28px;
  margin-bottom: 17px;

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #898989;
    cursor: pointer;
    height: 60px;
    border-bottom: 3px solid transparent;

    .count {
      padding: 5px 10px;
      border-radius: 12px;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: -0.01em;
      margin-right: 12px;
      background: var(--card-bg);
    }

    &.active {
      color: var(--black);
      border-bottom: 3px solid var(--black);

      .count {
        background: var(--black);
        color: var(--white);
      }
    }

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 16px;
      width: max-content;
    }
  }

  @media (max-width: 768px) {
    height: 50px;
    gap: 24px;
    padding: 17px 12px;
    border-radius: 8px;
  }
}

.tab-pane {
  position: relative;
  padding: 32px 27px;
  background: var(--secondary-bg);
  border-radius: 10px;
  min-height: calc(100vh - 200px);
  margin-bottom: 16px;

  .tab-pane-header {
    display: flex;
    justify-content: space-between;

    .row {
      width: 50%;
      justify-content: flex-end;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      margin-bottom: 24px;

      .row {
        width: 100%;
      }
    }
  }

  .title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;

    color: var(--black);
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 26px;
    }
  }

  @media (max-width: 768px) {
    padding: 22px 12px;
    border-radius: 8px;
  }

  .btn-group {
    margin-top: 30px;
  }

  .be-seller-status {
    width: 100%;
    height: calc(100vh - 186px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 140px;

      border-radius: 50%;
      margin-bottom: 18px;

      &.new {
        background: rgba($color: #ffb800, $alpha: 0.1);
      }

      &.approved {
        background: rgba($color: #61dc00, $alpha: 0.1);
      }

      &.rejected {
        background: rgba($color: #ef233c, $alpha: 0.1);
      }
    }

    .title {
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: -0.02em;
      text-align: center;
      color: var(--black);
      max-width: 50%;

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
  }
}

.profile {
  .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: var(--black);
    margin-bottom: 26px;
  }

  .avatar {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 50px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 12px;
      object-fit: cover;
    }

    .edit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: rgba(0, 0, 0, 0.62);
      border: 2px solid #ffffff;
      backdrop-filter: blur(35px);
      border-radius: 20px;
      position: absolute;
      bottom: -10px;
      right: -10px;
      cursor: pointer;
    }

    .no-avatar {
      width: 100px;
      height: 100px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #61dc00;
      color: #fff;
      font-size: 32px;
      line-height: 329px;
      font-weight: 600;
    }
  }

  .info-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 80px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 36px;

      .general-info,
      .password {
        width: 100%;

        .title {
          font-size: 16px;
          line-height: 19px;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.saved-location,
.coupon-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 16px;

  .location-card {
    position: relative;
    width: 242px;
    height: max-content;
    border: 1px solid var(--form-item-border);
    border-radius: 10px;

    .edit-btn {
      position: relative;
      position: absolute;
      top: 20px;
      right: 12px;
      cursor: pointer;

      &:hover {
        .edit-action {
          display: block;
        }
      }

      .edit-action {
        z-index: 3;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px 15px;
        min-width: 114px;
        height: 105px;
        background: var(--card-bg);
        border-radius: 10px;
        display: none;

        .action-item {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          span {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.4px;
            color: var(--black);
          }
        }

        @media (max-width: 768px) {
          transform: translateX(-100%);
        }
      }
    }

    .card-header {
      padding: 20px 12px;
      display: flex;
      align-items: center;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        min-height: 40px;
        background: var(--black);
        border-radius: 50%;
        margin-right: 12px;
        color: var(--white) !important;
      }

      .name {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: var(--black);
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .edit-btn {
        color: var(--black);
        margin-left: 8px;
      }
    }

    .card-content {
      padding: 0 14px;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: -0.4px;
      color: var(--black);
      margin-bottom: 16px;
      display: -webkit-box;
      max-width: 90%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 40px;
    }

    .saved-address {
      width: 240px;
      height: 154px;

      .map,
      .map-wrapper {
        padding: 0;
        width: 240px !important;
        height: 154px !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
      }



      @media (max-width: 768px) {
        width: 100%;

        div {
          width: 100%;
          height: 154px;
        }

        .map,
        .map-wrapper {
          padding: 0;
          width: 100% !important;
          height: 100% !important;
          border-radius: 0 !important;
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      overflow: hidden;
    }
  }
}

.system {
  .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: var(--black);
    margin-bottom: 26px;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 16px;
    }
  }

  .theme-items {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 193px;

    .theme-card {
      width: 242px;
      height: 160px;
      border-radius: 10px;
      overflow: hidden;
      padding: 14px 16px;

      .line {
        width: 210px;
        height: 30px;
        background: var(--secondary-bg);
        border-radius: 6px;
        margin-bottom: 2px;
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 9px 11px;

        .circle {
          width: 12px;
          height: 12px;
          background: #d9d9d9;
          border-radius: 31px;
        }

        .line-sm {
          width: 70px;
          height: 8px;
          background: #d9d9d9;
          border-radius: 31px;
        }

        &:first-child {
          margin-bottom: 12px;
        }
      }

      &.dark {
        background: #242528;

        .line {
          background: #2a2d37;

          &:first-child {
            background: #54565d;
          }

          .circle {
            background: #65676d;
          }

          .line-sm {
            background: #65676d;
          }
        }
      }

      &.light {
        background: #f4f4f4;

        .line {
          background-color: #fff;
        }
      }

      &.auto {
        display: flex;
        padding: 0;

        .dark {
          width: 50%;
          background: #242528;
          padding-top: 14px;
          padding-right: 16px;
          overflow: hidden;

          .line {
            width: 105px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background: #2a2d37;

            &:first-child {
              background: #54565d;
            }

            @media (max-width: 768px) {
              width: 100%;
            }
          }
        }

        .light {
          padding-top: 14px;
          padding-left: 16px;
          width: 50%;
          background: #f4f4f4;

          .line {
            background: #fff;

            &:first-child {
              background: #e9e9e9;
            }
          }
        }
      }
    }
  }

  .select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
    max-width: 810px;

    .item {
      width: calc(100% / 3);
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: var(--black);
      }
    }
  }

  @media (max-width: 768px) {
    .theme-item-wrapper {
      .theme-items {
        flex-direction: column;
        margin-top: 30px;
      }
    }
  }

  .theme-card-wrapper {
    width: 100%;
    cursor: pointer;

    @media (max-width: 768px) {
      .theme-card {
        width: 100%;

        .dark {
          .line {
            width: 100%;
          }
        }

        .line {
          width: 100%;

          .line-sm {
            width: 50%;
          }
        }
      }
    }
  }
}

.coupon-box {
  gap: 16px;

  .coupon {
    position: relative;
    display: flex;
    width: 212px;
    height: 260px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }

    .content {
      position: absolute;
      padding: 16px;
      flex-direction: column;

      .shop {
        .logo {
          width: 30px;
          height: 30px;
          background: #ffffff;
          border-radius: 6px;
          padding: 3px;
          margin-bottom: 9px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .name {
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: -0.01em;

          color: var(--black);
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          width: 105px;
        }
      }

      .sale {
        .amount {
          font-weight: 700;
          line-height: 100%;
          letter-spacing: -0.03em;
          color: #a7395c;
          margin-bottom: 6px;

          strong {
            font-size: 32px;
          }

          span {
            font-size: 20px;
          }
        }

        label {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: -0.01em;
          color: #a7395c;
          width: 84px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      .btn {
        width: 98px;
        height: 36px;
        background: #ffffff;
        border-radius: 68px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}