.stores-section {
  margin-bottom: 17px;
  padding: 32px 27px;
  padding-bottom: 20px;
  background: var(--secondary-bg);
  border-radius: 10px;

  .title {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: var(--black);
    margin-bottom: 33px;

    @media (max-width: 768px) {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 30px;
    }
  }

  .section-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    @media (max-width: 768px) {
      gap: 10px;
    }
  }

  @media (max-width: 768px) {
    border-radius: 8px;
    padding: 12px;
    padding-top: 18px;
  }
}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: var(--secondary-bg);
  border-radius: 10px;
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
  cursor: pointer;

  @media (max-width: 768px) {
    border-radius: 8px;
    font-size: 14px;
    line-height: 17px;
  }
}

.stores-card {
  width: 324px;
  min-height: 148px;
  border-radius: 10px;
  padding: 18px;
  padding-bottom: 15px;
  background: var(--card-bg);
  cursor: pointer;

  @media (max-width: 512px) {
    width: 100%;
    min-height: 143px;
    padding: 15px;
  }

  @media (min-width: 512px) and (max-width: 912px) {
    width: calc((100% - 20px) / 2);
    padding: 15px;
    padding-bottom: 15px;
  }

  @media (min-width: 912px) and (max-width: 1295px) {
    padding: 15px;
    padding-bottom: 15px;
    width: calc((100% - 40px) / 3);
  }

  .top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 14px;

    .type {
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.7px;
      color: var(--black);
      margin-top: 5px;
    }

    .logo-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      background: var(--secondary-bg);
      border-radius: 8px;
      padding: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;

        @media (max-width: 768px) {
          width: 40px;
          height: 40px;
        }
      }

      @media (max-width: 768px) {
        width: 60px;
        height: 60px;
        padding: 10px;
      }
    }

    @media (max-width: 512px) {
      margin-bottom: 20px;
    }
  }

  .body {
    .title {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.01em;

      color: var(--black);
      margin-bottom: 12px;

      @media (max-width: 512px) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    .wort_time-rating {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.7px;
      color: var(--black);

      @media (max-width: 512px) {
        font-size: 14px;
        line-height: 17px;
      }

      small {
        display: block;
        width: 5px;
        height: 5px;
        background: #d9d9d9;
        border-radius: 50%;
        color: var(--black);

        @media (max-width: 650px) {
          display: none;
        }
      }

      .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: #929292;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
      }
    }
  }

  .card-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

    .item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 14px;
      height: 26px;
      background: var(--secondary-bg);
      border-radius: 50%;
      cursor: pointer;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        color: #61DC00
      }

      &.tag {
        height: 28px;
        padding: 6px 12px;
        background: var(--secondary-bg);
        border-radius: 54px;
        gap: 6px;
        color: #61DC00;

        span {
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: -0.01em;

        }

        &.best {
          color: #E28F11;
        }

        &.top {
          color: #EF233C;
          margin-bottom: 0;
        }
      }
    }

  }
}

.store-rate,
.product-rate {
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .right {
      display: block;
      width: 339px;
      height: 361px;
      background: var(--card-bg);
      border-radius: 10px;
      padding: 30px;

      @media (max-width: 768px) {
        width: 100%;
        border-radius: 8px;
        padding: 25px;
        padding-bottom: 18px;
        height: max-content;
      }
    }

    .left {
      width: 100%;
      max-width: 630px;
      justify-content: flex-start;
    }

    @media (max-width: 768px) {
      gap: 30px;
      padding: 0;
      flex-direction: column-reverse;

      .left {
        width: 100%;
      }
    }
  }

  .add-rate {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 27px;
    gap: 80px;

    .add-rating {
      width: 100%;
      height: 24px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media (max-width: 768px) {
        height: 60px;
        margin-bottom: 30px;

        svg {
          width: 38px;
          height: 38px;
        }
      }

      .rating-star {
        svg {
          color: var(--black-02);
        }

        span {
          margin-right: 15px;

          &:last-child {
            margin-right: -15px;
          }
        }
      }
    }

    .comment {
      width: 100%;
      height: 60px;
      border: 1px solid #e6e6e6;
      border-radius: 10px;

      input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 22px 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: var(--black);
        background: transparent;
      }
    }

    @media (max-width: 1240px) {
      width: 100%;
      flex-direction: column;
      gap: 26px;
    }
  }
}

.delivery-time {
  display: flex;
  align-content: center;
  gap: 23px;

  .react-calendar {
    width: 424px !important;

    @media (max-width: 768px) {
      margin-bottom: 0;

      .react-calendar__viewContainer {
        border-radius: 8px !important;
      }
    }
  }

  .delivery-date-wrapper {
    width: 921px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 90px;
    background: var(--card-bg);
    border-radius: 10px;
    padding: 0 50px;
    padding-bottom: 0;

    @media (max-width: 768px) {
      width: 100%;
      padding: 15px;
      column-gap: 20px;
      border-radius: 8px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .delivery-date {
    position: relative;
    width: calc((100% - 90px) / 2);
    padding: 30px 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: max-content;

    &:last-child {
      border-bottom: none;
    }

    .month,
    .time {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.02em;
      color: var(--black);

      @media (max-width: 768px) {
        font-size: 13px;
        line-height: 16px;
      }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      width: 100%;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 17px 0 !important;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.store-info {
  display: flex;
  align-items: center;
  gap: 17px;
  width: 100%;

  .info-item {
    width: 100%;
    height: 80px;
    background: var(--card-bg);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    color: var(--black);

    .icon {
      width: 40px;
      height: 40px;
      background: var(--secondary-bg);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text {
      .title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.4px;
        margin-bottom: 6px;
      }

      .description {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.4px;
        color: #88887e;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 9px;

    .info-item {
      margin-bottom: 0;
    }
  }
}

.notification-wrapper {
  position: relative;
  transition: all ease-in-out 200ms;

  &:hover {
    .notification {
      visibility: visible;
      opacity: 1;
      top: calc(100% + 8px);
    }
  }
}

.notification {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 415px;
  height: max-content;
  background: var(--secondary-bg);
  border-radius: 15px;
  z-index: 5;
  right: 0;
  top: calc(100% + 18px);
  padding: 24px;
  transition: all ease-in-out 200ms;
  box-shadow: 0px 25px 50px rgba(79, 79, 79, 0.21);
  max-height: 600px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &.mobile {
    width: 100%;
    visibility: visible;
    opacity: 1;
    position: relative;
    box-shadow: none;
    margin-bottom: 17px;
    border-radius: 8px;
    z-index: 1;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-weight: 500;
      font-size: 22px;
      line-height: 16px;
      letter-spacing: -0.02em;
      color: var(--black);
    }

    .mark-all {
      padding: 11px 22px;
      background: var(--card-bg);
      border-radius: 10px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -1px;
      color: var(--black);
    }
  }

  .item {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    margin-top: 24px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    .header {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 16px;
      margin-bottom: 5px;

      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.4px;
        color: var(--black);
      }

      .time {
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: -0.4px;
        color: #8b8b8b;
      }

      span {
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        background: #61dc00;
        right: 24px;
        border-radius: 50%;
      }
    }

    .content {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.03em;
      color: var(--black);
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    overflow-y: unset;
  }
}
