// @import url("https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500;600;700&display=swap");
@import "./sass/authentication.scss";
@import "./variables/index.css";
@import "./sass/global.scss";
@import "./sass/footer.scss";
@import "./sass/navbar.scss";
@import "./sass/search-filter.scss";
@import "./sass/banner.scss";
@import "./sass/stores.scss";
@import "./sass/product.scss";
@import "./sass/app.scss";
@import "./sass/magnify.scss";
@import "./sass/form.scss";
@import "./sass/settings.scss";
@import "./sass/order-history.scss";
@import "./sass/wallet.scss";
@import "./sass/checkout.scss";
@import "./sass/blog.scss";
@import "./sass/seller.scss";
@import "./sass/be-seller.scss";
@import "./sass/rtl.scss";
@import "./sass/category.scss";
@import './sass/brandList.scss';
@import './sass///menuList.scss';
@import './sass/skeleton.scss';
@import './sass/skelton-image.scss'